/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-redcow-redcow-nested-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: var(--wp--preset--spacing--80);
	padding-left: var(--wp--preset--spacing--80);

	.nested-title-container {
		max-width: 1000px;
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		align-items: stretch;
		width: 100%;
	}

	.nested-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		width: 100%;
	}

	.nested-title-line {
		margin: 0;
	}

	.nested-title-upper,
	.nested-title-lower {
		font-family: var(--wp--preset--font-family--decorative) !important;
		color: var(--wp--preset--color--content-primary) !important;
		font-size: clamp(2.2rem, 4vw, 4.5rem);
		line-height: 0.8;
	}

	.nested-title-lower {
		margin-top: -0.75rem;
	}

	.nested-title-middle {
		font-family: var(--wp--preset--font-family--headings) !important;
		color: var(--wp--preset--color--brand-primary) !important;
		font-size: clamp(3rem, 6vw, 8rem);
		line-height: 0.7;
	}

	.nested-title-align-left {
		text-align: left;
		align-self: flex-start;
	}

	.nested-title-align-center {
		text-align: center;
		align-self: center;
	}

	.nested-title-align-right {
		text-align: right;
		align-self: flex-end;
	}

}
