/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-redcow-redcow-logo-scroller {

	.logo-scroller.editor {
		overflow: scroll;
		width: 100%;

		.logo-track .block-editor-inner-blocks .block-editor-block-list__layout {
			display: flex;
			flex-direction: row !important;
			gap: 150px;

			img {
				height: 40px !important;
				width: auto !important;
				max-width: none !important;
				flex-shrink: 0;
				aspect-ratio: unset !important;
			}

		}

	}
}
